@media screen and (min-width:600px) { /* any screen > 600px */
    .column1{float: left;}
    .column2{float: left;}
    .column3{float: left;}
    #nav div {
        float: left;
    }
    #content{display: block;}
    #contentHidden{display: none;}
}
@media screen and (max-width:599px) {/* any screen < 600px */
    #content{display: none;}
    #contentHidden{display: block;}
    .column1{width: 50% !important;float: left}
    .column3{width: 50% !important;float: left}
    .column2{width: 100% !important;clear: left;float: left}
    #footer{clear: left;}
    #nav div {
        width: 100% !important;
    }
}
body{
    margin: 0;
}
#header{
    height: 30px;
    width: 100%;
    background-color: #3eecff;
}
/*#nav{*/
/*    background-color: #149cff;*/
/*    font-size: 0;*/
/*}*/
/*#nav div {*/
/*    display: inline-block;*/
/*    width: 50px;*/
/*    font-size: 15px;*/
/*    text-align: center;*/
/*    background-color: grey;*/
/*    padding: 20px;*/

/*}*/
/*#nav{*/
/*    background-color: #149cff;*/
/*    font-size: 0;*/
/*    padding: 20px 0;*/
/*}*/
/*#nav div {*/
/*    display: inline;*/
/*    width: 50px;*/
/*    font-size: 15px;*/
/*    text-align: center;*/
/*    background-color: grey;*/
/*    padding: 20px;*/
/*}*/
#nav{
    background-color: #149cff;
    font-size: 0;
    width: 100%;
    overflow: hidden;
}
#nav div {
    float: left;
    width: 50px;
    font-size: 1rem;
    text-align: center;
    background-color: grey;
    padding: 20px;
    border: 1px solid black;
}
#content{
    overflow: auto;
}
.column1{
    width: 30%;
    height: 200px;
    background-color: #959595;
}
.column2{
    width:40%;
    height: 200px;
    background-color: #bbbbbb;
}
.column3{
    width: 30%;
    height: 200px;
    background-color: #d3d3d3;
}
#footer{
    height: 50px;
    width: 100%;
    background-color: #149cff;

}
p{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    margin: 0;
    height: 20px;
}
