/*practice 1*/
#outer {
    border: 2px dashed black;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
    display:inline-block;
}
.first-line{
    display:block;
}

/*practice 2*/
/*way1*/
ul {
    background-color:red;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    display:inline;
    background-color:white;
    border:1px solid black;
    padding:5px;
    margin:10px 5px;
}
/*way2*/
/*ul {*/
/*    background-color:red;*/
/*    padding:20px;*/
/*    text-align:center;*/
/*}*/
/*li{*/
/*    display:inline;*/
/*    background-color:white;*/
/*    border:1px solid black;*/
/*    padding:5px;*/
/*    margin:10px 5px;*/
/*}*/

/*practice 3*/
#container{
    box-sizing:border-box;
    padding:10px;
    width:500px;
    background-color:lightgray;
    border:1px solid black;
    margin: 10px 0;
}
.header{
    background-color:yellow;
    margin:10px auto;
}
.area{
    width:100px;
    margin:0px 5px;
    padding:1px;
    float:right;
    overflow : scroll;

}
.area1-h{
    height:180px;
}
.area2-h{
    height:110px;
}
.area3{
    padding:1px 0;
}
.area-backcolor{
    background-color:lightblue;
}

/*practice 4,5,6*/
.practice-float{
    width:500px;
    border:1px solid black;
    margin:10px 0;
}
.a, .b {
    width: 100px;
    height: 100px;
    font: 30pt bold Helvetica, Arial, sans-serif;
    line-height: 100px;
    text-align: center;
}
#prac4 .a { background-color: lightblue;float: left;}
#prac4 .b { background-color: pink;float:right;}
#prac4 .c { background-color: lightgray;}

#prac5 .a { background-color: lightblue;float: left}
#prac5 .b { background-color: pink;clear:left;float:right;}
#prac5 .c { background-color: lightgray;}

#prac6 .a { background-color: lightblue;}
#prac6 .b { background-color: pink;clear:left;float:right;}
#prac6 .c { background-color: lightgray;}