h1{
    text-align: center;
}
.circle {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container{
    width: 100%;
    height:400px;
    margin:0 auto;
    background-color: #dadada;
    text-align: center;
    position: relative;
}
.operator{
    position:absolute;
    bottom: 120px;
    left: 10px;
}
.btn{
    background-color: #1cff79;
    width: 100px;
}
.divshadow{
    box-shadow: 5px 5px 5px white;
    z-index: 10;
}